* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #1a1a1a;
    color: white;
}


.login-box .link a {
    text-decoration: none;
    color: #007bff;
}

.login-box .link a:hover {
    text-decoration: underline;
}